.div_container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns the card at the top */
    height: 100vh; /* Full screen height */
    padding-top: 50px; /* Adjust the space from the top */
    border-radius: 10px;
    border: 1px solid black;
    margin-right: 2%;
}

.div_header {
    margin-top: 0;
    padding: 23px;
    display: flex;
    justify-content: space-between; /* This moves the label to the right */
    align-items: center; /* This vertically centers the elements */
    border-radius: 5px;
    background-color: #5fa183bd;
}

.div_header span{
    color: black;
}

.div_body {

}

.div_container li{
    background-color: #bbe6d2bd;
}

.label_concluido {
    margin-left: auto; /* This pushes the label to the right */
}

input {
    cursor:unset; /* Change the cursor when hovering over the checkbox */
}