html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #b6cfc3bd;
}

h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-style: normal;
}

.button {
  background-color: #05b160bd;
  margin-top: 50px;
}

.button:hover {
  background-color: #6a9782bd;
}
